main {
    opacity: 0.9;
}

.login-info {
    color: white;
    padding: 3em 10em;
    text-align: center;
    text-shadow: 0px 0px 15px black;
}

.small-notification{
    margin: 0 0 20px;
    color: crimson;
}